.payments {
  padding: 20px;
  height: 100%;
}

.title {
  color: var(--color-primary);
  font-size: 18px;
  margin-bottom: 20px;
}

.container {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  height: calc(100% - 50px);
}

.card {
  padding: 20px;
}

.add {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.add h3 {
  margin-left: 10px;
  color: var(--color-primary);
  font-size: 14px;
}

.rowone {
  display: grid;
  grid-template-columns: 300px 150px 150px;
  grid-gap: 20px;
  align-items: flex-end;
  margin-bottom: 20px;
}

.rowtwo {
  display: grid;
  grid-template-columns: 300px;
  margin-bottom: 20px;
}

.security {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.security h4 {
  font-size: 14px;
  color: var(--color-success);
  margin-left: 10px;
}